#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 1rem; /* Add space between elements */
  width: 100%;
  align-items: center;
}
